<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color</title>
</head>
<body>
    <form action ="results" method="post">
        <label>
            Color
            <select name="color">
                <option>pink</option>
                <option>red</option>
                <option>green</option>
                <option>blue</option>
                <option>yellow</option>
            </select>
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>